h1{
    color: blue;
    font-size: 48px;
    background-color: antiquewhite;
}
.contact{
    margin-left: 230;
    padding-top: 2
}
.dp{
    float: left
}
.content{
    margin-top: 200;
}
.whole{
    margin-left: 90px;
    margin-right: 45px;
    background-color: pink;
}
.whole2{
    background-color: white;
}
.caption{
    background-color: antiquewhite;
    padding-left: 400px;
    font-size: 20px;
}
.robo{
    margin-left: 300;
    margin-bottom: 30;
}
.group{
    margin-left: 300;
    margin-bottom: 30;
}
.distance{
    margin-left: 300;
}
