h1{
    color: blue;
    font-size: 48px;
}
.contact{
    margin-left: 230;
    padding-top: 2
}
.dp{
    float: left
}
.content{
    margin-top: 200;
}
.whole{
    margine-left: 90px;
}
.caption{
    margin-left: 400px;
}
.robo{
    margin-left: 300;
}
